/*BEGIN .badge */
.badge {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 18px;
	height: 18px;
	font-size: 0;
	cursor: pointer;
	transition: all 0.5s ease;
	
	svg path {
		fill: #7c7c7c;
	}

	&.__circle {
		width: 10px;
		height: 10px;
		border-radius: 50%;
	}

	&.__add {
		&,
		& + span {
			opacity: 0.4;
			transition: all 0.5s ease;
		}
	}


}
/*END .badge */