.list {
	margin-bottom: 15px;
	
	$list: &;
	/*BEGIN li */
	li {
		position: relative;
		display: flex;
		align-items: center;
		margin-bottom: 2px;
		padding: 10px 10px 10px 34px;
		cursor: pointer;
		transition: all 0.5s ease;
		strong {
			display: inline-block;
			padding: 2px 4px;
			background-color: lighten(#4dd599, 25%);
			margin-right: 8px;
			font-size: 12px;
			font-weight: normal;
			border-radius: 10px;
		}
		&>span {
			flex: 1;
			text-overflow: ellipsis;
			overflow: hidden;
			max-width: 120px;
			white-space: nowrap;
		}
		&:hover {
			background-color: rgba(#fff, 0.5);
		}
		&:hover span {
			opacity: 1;
		}

		&.active {
			background: #fff;
			border-radius: 4px;
			box-shadow: 0 3px 10px rgba(#000, 0.04);
		}
		&:hover #{$list}__close {
			opacity: 0.2;
		}
		#{$list}__close:hover {
			opacity: 0.7;
		}
	}
	/*END li */
	&__close {
		position: relative;
		top: 1px;
		opacity: 0;
		transition: all 0.5s ease;
	}
	
	/*BEGIN .badge */
	.badge {
		position: absolute;
		top: 50%;
		left: 11px;
		margin-top: -10px;
	}
	
	.badge.__circle {
		left: 16px;
		margin-top: -6px;
	}
	/*END .badge */
}