.list {
	margin-bottom: 20px;
	li {
		position: relative;
		margin-bottom: 2px;
		padding: 10px 12px 10px 34px;
		cursor: pointer;
		transition: all 0.5s ease;

		&.active {
			background: #fff;
			border-radius: 4px;
			box-shadow: 0 3px 10px rgba(#000, 0.04);
		}
		
	}
	
	&__icon {
		position: absolute;
		top: 50%;
		left: 11px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 18px;
		height: 18px;
		margin-top: -10px;
		font-size: 0;
		svg path {
			fill: #7c7c7c;
		}
		&.__add {
			path {
				stroke: #7c7c7c;
			}
		}
		&.__circle {
			left: 16px;
			width: 10px;
			height: 10px;
			margin-top: -6px;
			border-radius: 50%;
		}
	}
	
	
}