.list {
	margin-bottom: 20px;
	
	/*BEGIN li */
	li {
		position: relative;
		margin-bottom: 2px;
		padding: 10px 12px 10px 34px;
		cursor: pointer;
		transition: all 0.5s ease;
		
		&:hover span {
			opacity: 1;
		}

		&.active {
			background: #fff;
			border-radius: 4px;
			box-shadow: 0 3px 10px rgba(#000, 0.04);
		}
	}
	/*END li */
	
	/*BEGIN .badge */
	.badge {
		position: absolute;
		top: 50%;
		left: 11px;
		margin-top: -10px;
	}
	
	.badge.__circle {
		left: 16px;
		margin-top: -6px;
	}
	/*END .badge */
}