* {
	margin: 0;
	padding: 0;
	list-style: none;
	outline: none;
	font-family: 'Roboto', -apple-system, system-ui, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 100vh;  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.todo {
	display: flex;
	align-items: stretch;
	width: 750px;
	min-height: 530px;
	margin: 20px;
	font-size: 14px;
	border-radius: 10px;
	border: 1px solid #f1f1f1;
	box-shadow: 1px 2px 20px #f3f3f3;
}

.sidebar {
	flex: 0 0 200px;
	padding: 60px 20px;
	background-color: #f4f6f8;
	border-right: 1px solid #f1f1f1;
}


.tasks {
	flex: 1 1 100%;
}